:root {
    --cinza-fundo: #F7F7F7;
    --cinza-fonte-secundaria: #505050;
    --cinza-fonte-principal: #171717;
    --cinza-sombra: #9EA3AA9C;
    --amarelo-principal: #FEDF3C;
    --amarelo--botao: #FEDD3A;
    --amarelo--detalhe: #FFD500;
    --fonte-titulo: "Raleway";
    --fonte-cronometro: "Montserrat", sans-serif;
    --fonte-botao: "Roboto", sans-serif;
}

* { 
    margin: 0;
    padding: 0;
}

.cabecalho {
    background: black;
    height: 80px;
}

.cabecalho_logo {
    width: 100px;
    margin: 20px 160px;
}

.banner {
    background-image: url(imagens/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 49px;
    color: white;
    padding: 80px;
    position: relative;
}

.banner_camada {
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner_texto {
    z-index: 1;
    position: relative;
}

.banner_logo {
    width: 200px;
    padding: 25px;
    z-index: 1;
    position: relative;
}


.cronometro {
    text-align: center;
}

.cronometro_titulo {
    display: block;
    font-family: var(--fonte-cronometro);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 8px;
    padding: 20px ;
}

.cronometro {
    padding: 20px;
}

.cronometro_texto {
    background-color: var(--amarelo-principal);
    padding: 0 12px 0 20px;
}

.cronometro_timer {
    align-items: center;
    padding: 25px 450px;
}

.cronometro_contador {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-cronometro);
    font-size: 60px;
    border-radius: 8px;
    box-shadow: 6px 6px 8px 0px var(--cinza-sombra), 
            -6px 6px 8px -4px var(--cinza-sombra), 
            6px -6px 8px -4px var(--cinza-sombra),
            -6px -6px 8px -4px var(--cinza-sombra);
    height: 120px;
}

.cadastro {
    background-color: var(--cinza-fundo);
    text-align: center;
}

.cadastro_titulo_container {
    padding: 35px;
}

.cadastro_titulo {
    font-family: var(--fonte-titulo);
    font-size: 28px;
    font-weight: 400;
}

.negrito_amarelo {
    color: var(--amarelo-principal);
    text-align: center;
}

.cadastro_botao {
    background-color: var(--amarelo-principal);
    border-radius: 11px;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    font-family: var(--fonte-botao);
    font-weight: 500;
    font-size: 25px;
    color: black;
    margin: 130px 0 60px 0;
}

.cadastro_lista {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.cadastro_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 150px;
    max-width: 200px;
}

.cadastro_circulo {
    position: absolute;
    background-color: var(--amarelo-principal);
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: block;
}

.cadastro_numero_container {
    position: relative;
    top: 8px;
    left: 20px;
}

.cadastro_numero {
    font-family: var(--fonte-cronometro);
    font-weight: 500;
    font-size: 70px;
}

.cadastro_texto {
    font-family: var(--fonte-titulo);
    position: relative;
    top: 100px;
    font-size: 18px;
}

.rodape {
    text-align: center;
    background-color: black;
    margin: 0;
    padding: 0;
}

.rodape_itens {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 140px;
}

.rodape_logo {
    width: 120px;
    margin: 20px 0;
}

.rodape_texto {
    color: white;
    font-family: var(--fonte-botao);
    font-weight: 300;
}

.rodape_icone {
    background-color: var(--amarelo--detalhe);
    border-radius: 10px;
    padding: 5px;
    margin: 0 5px; 
}

.rodape_direita {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rodape_icone_container {
    display: flex;
    justify-content: center;
    margin-left: 10px;
}